{% extends "base.html" %}

{% block title %}Approve Expense Reports{% endblock %}


{% block page_content %}

<table width=100% border="0" style='padding:0px; spacing:0px; border-width:0px;'>
	<tr>
		<td width=50% align='left' valign='bottom'><h3>Approve Expense Reports</h3></td>
		{% if hide == True %}
		<td width=50% align='right' valign='bottom'><h4><a href="/approve?hide=False&sort={{orderby}}">Show Approved Reports</a></h4></td>
		{% else %}
		<td width=50% align='right' valign='bottom'><h4><a href="/approve?hide=True&sort={{orderby}}">Hide Approved Reports</a></h4></td>
		{% endif %}
	</tr>
</table>
</br>


<div class='table-responsive'>
	<table class='table tablehover' style='font-size:12px;'>
		<thead>
			<tr class='no-hover'>
				<td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
					{% if orderby == 'username desc' %}
					<a href="/approve?hide={{hide}}&sort=username asc"><b>Employee</b></a>
					{% else %}
					<a href="/approve?hide={{hide}}&sort=username desc"><b>Employee</b></a>
					{% endif %}
				</td>
				<td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-2'>
					{% if orderby == 'timestamp desc' %}
					<a href="/approve?hide={{hide}}&sort=timestamp asc"><b>Date Submitted</b></a>
					{% else %}
					<a href="/approve?hide={{hide}}&sort=timestamp desc"><b>Date Submitted</b></a>
					{% endif %}
				</td>
				<td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
					<div style='color:#347ABB;'><b>Date Purchased</b></div>
					
				</td>
				<td style='vertical-align: bottom;' class='col-sm-2 col-md-3 col-xs-2'>
					{% if orderby == 'description desc' %}
					<a href="/approve?hide={{hide}}&sort=description asc"><b>Description</b></a>
					{% else %}
					<a href="/approve?hide={{hide}}&sort=description desc"><b>Description</b></a>
					{% endif %}
				</td>
			
				<td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
					{% if orderby == 'vendor desc' %}
					<a href="/approve?hide={{hide}}&sort=vendor asc"><b>Vendor</b></a>
					{% else %}
					<a href="/approve?hide={{hide}}&sort=vendor desc"><b>Vendor</b></a>
					{% endif %}
				</td>
			
				<td align='right' style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-2'>
					<div style='color:#347ABB;'><b>Amount</b></div>
				</td>
				<td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
					{% if orderby == 'account desc' %}
					<a href="/approve?hide={{hide}}&sort=account asc"><b>Account</b></a>
					{% else %}
					<a href="/approve?hide={{hide}}&sort=account desc"><b>Account</b></a>
					{% endif %}
				</td>
				<td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
					<div style='color:#347ABB;'><b>Receipt</b></div></td>
				<td style='vertical-align: bottom;' class='col-sm-1 col-md-1 col-xs-1'>
					{% if orderby == 'approved desc' %}
					<a href="/approve?hide={{hide}}&sort=approved asc"><b>Status </b></a>
					{% else %}
					<a href="/approve?hide={{hide}}&sort=approved desc"><b>Status</b></a>
					{% endif %}
				</td>
				<td style='vertical-align: bottom;' class='col-sm-2 col-md-1 col-xs-2'>
					<div style='color:#347ABB;'><b>Actions</b></div>
				</td>
			<tr>
		</thead>
		<tbody>
			{% if data %}
				{% for d in data %}
					{% if d.approved > 0 %}
						<tr>
					{% else %}
						<tr>
					{% endif %}
					<td>{{d.username}}</td>
					<td>{{d.submit_date}}</td>
					<td>{{d.purchase_date}}</td>
					<td>{{d.description}}</td>
					<td>{{d.vendor}}</td>
					<td align='right'>${{d.amount}}</td>
					<td>{{d.account}}</td>
				
					{% if d.receipt %}
						<td><a href="static{{d.receipt}}" data-toggle="tooltip" title="Download" target='_blank'>PDF</a></td>
					{% else %}
						<td></td>
					{% endif %}
				
					{% if d.approved %}
					<td style='color:green;'>Approved</td>
					{% else %}
					<td style='color:darkred;'>Pending</td>
					{% endif %}
				
					<td>
					
				
					
					{% if not d.approved %}
						<a href="/app/{{d.id}}?hide={{hide}}&sort={{orderby}}" data-toggle="tooltip" title="Approve"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></a>
					{% else %}
						<a href="/unapp/{{d.id}}?hide={{hide}}&sort={{orderby}}" data-toggle="tooltip" title="Undo Approve"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
					{% endif %}
					
					&nbsp;<a href="/edit/{{d.id}}?next=%2Fapprove" data-toggle="tooltip" title="Edit"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
					
					&nbsp;<a href="/print/{{d.id}}" data-toggle="tooltip" title="Print"><span class="glyphicon glyphicon-print" aria-hidden="true"></span></a></td>
					</tr>
				{% endfor %}
			
				{% if hide and hidden > 0 %}
					<tr class='no-hover'><td colspan="10" align=center>
						<a href="/approve?hide=False&sort={{orderby}}">Show {{ hidden }} approved reports</a>
					</td></tr>
				{% endif %}
			{% else %}
				<tr class='no-hover'><td colspan="10" align=center>There aren't any reports to approve.
					{% if hidden > 0 %}
						<a href="/approve?hide=False&sort={{orderby}}">Show {{ hidden }} approved reports.</a>
					{% endif %}
				</td></tr>
			{% endif %}
		
		</tbody>
	</table>
</div>

</br></br>
{% endblock %}
